<% layout('layouts/boilerplate') %>

<div style="display: flex; justify-content: center; align-items: center;" >
  <div class="card" style="width: 28rem; margin-bottom: 25px;">
    <img src="https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top"   alt="...">
   
    <div class="card-body">

      <h5 class="card-title">Login</h5>
   
    <form action="/login" method="post"  class="needs-validation" novalidate >
    
        <div class="mb-3">
            <label   class="form-label"  for="username">Username:</label>
            <input  class="form-control"  type="text" id="username" name="username" autofocus required/>
          </div>
    
       
          
          <div class="mb-3">
            <label   class="form-label"  for="passowrd">Password:</label>
            <input  class="form-control"  type="password" id="password" name="password" required/>
          </div>
    
    
          <div class="d-grid gap-2 ">
            <button class="btn btn-success ">Login</button>
          
          </div>

    
    
    </form>
 
 
    </div>
 
 
 
  </div>
  

</div>