<% layout('layouts/boilerplate') %>
<title> New Camp</title>
<div class="row">
  <h1 class="text-center ">New campground</h1>

  <div class="col-6 offset-3">

    

    <form action="/campgrounds" method="post" novalidate class="needs-validation"  enctype="multipart/form-data" >
      <div class="mb-3">
        <label  class="form-label"  for="title">Title: </label>
        <input  class="form-control"  type="text" id="title" name="campground[title]" required/>
      </div>

      <!-- <br /> -->

      <div class="mb-3">
        <label   class="form-label"  for="location">Location:</label>
        <input  class="form-control"  type="text" id="location" name="campground[location]" required/>
      </div>

      <!-- <br /> -->
      <!-- <br /> -->
      <div class="mb-3">
        <label for="price">Price:</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="price" name="campground[price]" placeholder="0.00"  required>
        
      </div>
    </div>

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Images:</label>
      <input class="form-control" type="file" id="formFileMultiple"  name="image"   multiple>
    </div>
  

      <div class="mb-3">
        <label   class="form-label"  for="description">Description:</label>
        <textarea  id="description"  class="form-control" name="campground[description]"   cols="10" rows="5" required></textarea>
      </div>

      <footer class="mb-2">
      <button class="btn btn-success">Add Campground</button>
   
        <a href="/campgrounds"  class="btn btn-secondary ms-4">Back</a>
      </footer>
  
    </form>

    <!-- <br /> -->


  
</div>

</div>

